PUBLIC_SUPABASE_URL=https://nqskllzyphlhmuhzpcdy.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xc2tsbHp5cGhsaG11aHpwY2R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNDIyMjEsImV4cCI6MjA3ODcxODIyMX0.3Th9Bu441NwQT5C0-Ye9YPW7YnCtY7DGkUdT_iCd_4M
